html {
    background-color: black;
    width: 1200px;
    margin: auto;
}

h2, h4, h3, h5{
    color: seashell;
    text-align: center;
    opacity: 0.9;
    font-family: Arial, Helvetica, sans-serif;
}

.head {
    vertical-align: middle;
    height: 69px;
}

.navbar {
    color: white;
    display: inline;
    float: right;
}

.navbar li {
    display: inline-block;
    text-decoration: underline;
    margin-right: 15px;
    font-size: 20px;
    opacity: 0.9;
}

.midle {
    background-image: url(../css/pictures/img-mission-background.jpg);
    width: 1200px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mission {
    background-color: black;
    width: inherit;
}

.selection {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.images {
    width: 300px;
    height: 200px;
    margin: 0 10px;
}

.textImage {
    text-align: center;
}

.location {
    background-image: url(../css/pictures/img-locations-background.jpg);
    width: 1200px;
    height: 500px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.locationSqueres {
    height: 300px;
    width: 300px;
    background-color: black;
    margin: 15px 40px;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.contacts {
    height: 200px;
    width: 1200px;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}

#Logo {
    height: 50px;
    margin-left: 10px;
    opacity: 0.5;
}

#copyright {
    text-align: left;
    margin-left: 20px;
}